@import "./normalize.less";

.firstHeader {
  height: 30%;
  width: 100%;
  background: red;
  position: absolute;
  top: 0;
}

.loginHeader {
  height: 30%;
  width: 100%;
  background: #2D333E;
  position: absolute;
  top: 0;
}

.btmLogin{
  position: absolute;
  top: 30%;
  width: 100%;
  .sy_bottom{
    h1{
       text-align: center;
       font-size: 25px;
       color: #333;
       font-weight: normal;
       padding: 50px 0;
     }
    .ul-wrap{
      width: 20%;
      margin: 0 auto;
      .ant-btn{margin-right: 10px;}
      .ant-input{ height: 32px;}
      .ant-spin-spinning{ left: 0; }
    }
  }
}
