@import "./normalize.less";

.container{
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.formStyle{
  width: 70%;
  margin-left: 15%;
  text-align: center;
  padding-top: 20px;
}
.loginButton{
  width: 60%;
}

.bigContainer{
  display: flex;
  flex-direction: row;
  background: white;
  position: fixed;
  height: 100%;
  top:0;
  width: 100%;
}

.menuContainer{
  width: 15%;
  height: 100%;
  background: #404040;
}
.contentContainer{
  width: 85%;
  overflow-y: scroll;
  padding: 20px;
}


